.contact-title {
    text-align: center;
    font-size: 2.8rem;
    color: var(--paragraph-color);
    line-height: 40px;
    margin: 30px;
}

.contact-link {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.contact-icon {
    text-decoration: none;
    color: var(--white);
    font-size: 3.0rem;
    padding: 0 20px;
}

.phone-number {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.phone-icon {
    font-size: 1.8rem;
    color: var(--paragraph-color);
}

.contact-phone {
    font-size: 2.2rem;
    color: var(--paragraph-color);
    font-family: var(--content-text-font);
    padding-left: 10px;
}