/* Content Part - Home Page */
.content-info {
    text-align: center;
    position: relative;
    color: var(--white);
    top: 50%;
    transform: translateY(-50%);
}

.content-info-title {
    font-size: 6.2rem;
    font-weight: 900;
    letter-spacing: 2px;
}